:root {
  --selected-background: rgb(237, 242, 254);
  --selected-circle: rgb(83, 66, 240);
  --selected-text: rgb(49, 47, 102);
  --button-color: rgb(81, 70, 235);
  --gray: rgb(133, 133, 133);
}

input[type="radio"] {
  color: var(--selected-circle)
}

button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}